@{
    Layout = null;
}


@foreach (var item in ViewBag.jurken) // jurken laten zien
{
    <div class="dress-item">
        <a href="/dressfinder/jurk/@item.JurkID">
            <img class="img-responsive" src="/images/jurk/@item.image1_location" />
            <b>@item.artikel.Naam</b>
        </a>
    </div>
}