@model ProjectBlokker.Models.Afspraak

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Afspraak</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="AfspraakDatum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AfspraakDatum" class="form-control" />
                <span asp-validation-for="AfspraakDatum" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AfspraakTijd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AfspraakTijd" class="form-control" />
                <span asp-validation-for="AfspraakTijd" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Naam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Nieuwsbrief" />
                    <label asp-for="Nieuwsbrief"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TelNr" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TelNr" class="form-control" />
                <span asp-validation-for="TelNr" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrouwDatum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TrouwDatum" class="form-control" />
                <span asp-validation-for="TrouwDatum" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

