
@font-face {
    font-family: Nexa;
    src: url("/fonts/Nexa Light.otf");
}

@font-face {
    font-family: Nexa;
    font-weight: bold;
    src: url("/fonts/Nexa Bold.otf");
}


body {
    padding-bottom: 20px;
    background-color: #FCE8E7;
    font-family: Nexa, sans-serif;
    overflow-x: hidden;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.push-to-bottom {
  position: absolute;
  bottom: 50px;
}

.padding-right5 {
    padding-right: 5px;
}



/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

.header {
	background-color: #FAC9C4;
}

.header .mainlinks {
	padding: 5px;
}

.header .btn {
	text-decoration: none;
	color: #F2587C;
	font-weight: bold;
}

.header .btn.selected {
	color: black;
}

.header .infobar {
	padding: 0;
    align-items: center;
    display: flex;
}

.imageback{
    position:absolute;
    z-index:0;
    opacity:0.3;
    font-family:'Script MT';
    font-weight: bold;
    font-size: 65px;
    color:white;
    left: 0;
    right: 0;
}

.imagefront{
    position:relative;
    z-index:1;
    font-weight:bold;
    text-transform:uppercase;
}

.imagefrontz{
    position:relative;
    z-index:1;
}

.imagebackmain{
    position:absolute;
    z-index:0;
    opacity:0.3;
    font-family:'Script MT';
    font-weight: bold;
    font-style:italic;
    color:lightcoral;

}

.phonenumber {
	margin-left: auto;
    font-size: 13px;
}

.searchbar .form-control {
	height: 100%;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	padding: 15px 5px 15px 20px
}

.searchbar {
	padding: 0;
}

.searchbar .btn {
	padding: 0;
	height: 100%;
	width: 50px;
	border: 0;
	border-radius: 0;
}

.menu .navbar {
	background: none;
	border: 0;
	color: white;
}

.menu .navbar li a {
	font-weight: bold;
	color: white;
    font-size: 13px;
    padding-right: 10px;
}

.menu .navbar .navbar-brand {
	color: white;
	font-size: 30px;
    margin: 14px 0 0 0;
    letter-spacing: 1px;
    font-family: 'Libre Baskerville', serif;
}

.menu .navbar-nav {
	padding: 15px 15px 0 5px;
}

.menu .navbar .active a, .menu .navbar .active a:hover, .menu .navbar .active a:focus {
	color: #F2587C;
	background: none;
}

.menu .navbar li a:hover {
	color: #F2587C;
}

.afspraak {
	margin: 8px;
    font-size: 13px;
}

.panel-1 {
	background-image: url("../images/women.png");
    background-size:100% 100%;
    
}

.panel-2 {
    background-color: white;
}

.panel-3 {
    background-color: white;
}

.panel-4 {
    background-color: white;
}
.welcome {
    margin-top: 180px;
    margin-bottom: 150px;
}

.welcome h2, .welcome h3 {
    margin: 0;
    padding: 0;
}
b{
    z-index : -1;

    

}
.footer {
    width: 75%;
    margin: 0 auto;
}

.footer-links {
    margin: 0 auto;
    margin-top: 50px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li a {
    color: #78726F;
}

.footer-highlight {
    background-color: #F2587C;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    width: 260px;
    height: 150px;
    margin: 0 auto;
    padding: 60px 30px;
}

.footer-highlight a {
    color: white;
}

.text-pink {
	color: #F2587C;
}

.text-blue {
	color: #1A91BE;
}

.text-white {
    color:white;
}

.text-gray {
    color:#333;
}

.text-back {
    color:rgba(255,0,0,0.5);
}

.text-bold {
    font-weight: bold;
}

.fontsize-12 {
    font-size: 12px;
}

.fontsize-14 {
    font-size: 14px;
}

.fontsize-17 {
    font-size: 17px;
}

.fontsize-20 {
    font-size: 20px;
}

.fontsize-28 {
    font-size: 28px;
}

.fontsize-32 {
    font-size: 32px;
}

.margin-0 {
    margin: 0;
}

.padding-0 {
    padding: 0;
}

.btn-large {
    box-sizing: border-box;
    width:200px;
    font-size:20px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 5px;
}
.btn-dressfinder {
    box-sizing: border-box;
    width: 550px;
    font-size:30px;
    height:75px;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 40px;
}
.btn-pink {
    background-color: #F2587C;
    border-radius: 0;
    color:white;
}

.btn-blue{
    background-color: #1A91BE;
    border-radius:0;
    color:white;
}

.btn-white {
    background:none;
    border-radius: 0;
    color:white;
    border: 4px solid white;
    padding: 3px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #e0e0e0;
    color: white;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    font-style: inherit;
}

.circlecarousel {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #F2587C;
    color: white;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    font-size: 60px;
    display: inline-block;
    margin: 10px;
    font-style: inherit;
}

.circle-blue {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #c3c3c3;
    color: white;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    font-style: inherit;
}

.carousel-indicators {
    position: relative;

    bottom: 0;
    left: 0;
    width: auto;
    padding-left: 0;
    margin-left: inherit;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    text-indent: -0;
    cursor: pointer;
    background-color: none;
    border: none;
    border-radius: 0;
}

.carousel-indicators .active {
    width: auto;
    height: auto;
    background-color: none;
}

.carousel-indicators .active a {
    font-weight: bold;
}

.active .circle {
    background-color: #F2587C;
}

.active .circle-blue{
    background-color: #1A91BE
}

.top-space {
    margin-top: 45px;
}

.top-space-small {
    margin-top: 20px;
}

.top-space-large {
    margin-top: 150px;
}

.bottom-space {
    margin-bottom: 45px;
}

.bottom-space-small {
    margin-bottom: 20px;
}

.bottom-space-large {
    margin-bottom: 150px;
}

#onestopshop-carousel img {
    margin: 0 auto;
}

.imglogo {
    max-width: 425px;
}

.imgtransparent {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.imgbig {
    height: 600px;
    background-size: 100%;
    background-image:url('/images/Ronaldo.PNG')
}

.imgiconresp{
    max-height: 22px;
    max-width: 22px;
}

.circleincarousel{
    border-top-width: 100px;
    margin-top: 160px;
    padding-top: 8px;
}

#onestopshop-carousel .carousel-inner {
    height: 450px;
}

.onestop-navigators {
    font-size: 17px;
}

.onestop-navigators a {
    color: #5a5a5a;
}

.onestopshop-content {
    top: 40%;
    left: 7%;
}

.onestopinfo {
    width: 250px;
    font-size: 14px;
    background-color: white;
    color: black;
    padding: 20px;
    text-shadow: none;
    box-shadow: 2px 2px 10px #e8e8e8;
}

.evenementblock{
    width: 330px;
    height: 200px;
    background-color: white;
    text-align: left;
    padding: 0 25px;
    position: absolute;
    bottom: 0;
    box-shadow: 2px 2px 10px #e8e8e8;
}

.headline-background {
    height: 400px;
    padding: 0;
}

.headline {
    width: 300px;
    height: 200px;
    background-color: white;
    text-align: left;
    padding: 0 25px;
    position: absolute;
    bottom: 0;
    box-shadow: 2px 2px 10px #e8e8e8;
}

.headline-type {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 3px solid #FAC9C4;
    padding-bottom: 10px;
}

.headline-date {
    float: right;
    background-color: #FAC9C4;
    height: 45px;
    text-align: center;
    padding: 10px 7px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.headline-date .day {
    font-size: 16px;
    margin-bottom: -6px;
}
.headline-date .month {
    font-size: 10px;
}

.afspraak-widget {
    width: 80%;
    margin: 0 auto;
    background: none;
}

.afspraak-left {
    background-color: white;
}

.kiesdatum {
    background-color: #F2587C;
    min-height: 320px;
}

#selectTime {
    display: none;
}

#datetimepicker table {
    border-collapse: separate;
    border-spacing: 14px 5px;
}

#datetimepicker .day {
    width: 30px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}

#datetimepicker .prev, #datetimepicker .next {
    cursor: pointer;
}

#datetimepicker .datepicker-switch {
    text-align: center;
}

#datetimepicker .day.active {
    border: 1px solid white;
    border-radius: 25px;
}

#datetimepicker .old.day, #datetimepicker .new.day {
    visibility: hidden;
}

#datetimepicker .disabled {
    color: grey;
}

#gegevens-invullen {
    display: none;
}

#gegevens-controleren {
    display: none;
}

#tijd-kiezen {
    display: none;
}

#gegevens-bevestigen {
    display: none;
}

#naar-gegevensinvullen {
    display: none;
}

#gekozen-tijd-datum {
    display: none;
}

#terug-stap2 {
    float: left;
    margin-top: 150px;
}

.stepwizard-step.active {
    margin-bottom: 75px;
}

.stepwizard-step h4 {
    background-color: white;
    padding: 4px;
}


.stepwizard-step p {
    margin-top: 10px; 
    display:inline-block;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 20%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(#e0e0e0  65%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 2px 20px;
    background-repeat: repeat-y;
}

.stepwizard-step {    
    display: block;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

@media (min-width: 992px) {
    .headline-left {
        padding-right:0;
    }

    .headline-right {
        padding-left: 0;
    }
}



