@model ProjectBlokker.ViewModels.DressfinderIndex

@{
    ViewData["Title"] = "Dressfinder";
}



@foreach (var item in ViewBag.jurken)
{
    <div>
        @item.Omschrijving
        <hr />
    </div>
}

