@*@model ProjectBlokker.Models.Afspraak*@

@{
    ViewData["Title"] = "AfspraakGeslaagd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row panel-afspraakgeslaagd">
    <div class="row menu">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header ">
                    <a class="navbar-brand" href="#">HONEYMOON SHOP</a>
                </div>
                <ul class="nav navbar-nav navbar-right text-uppercase">
                    <li class="active"><a href="~/home/index">HOME</a></li>
                    <li><a href="~/home/bruid">Bruid</a></li>
                    <li><a href="~/home/bruidegom">Bruidegom</a></li>
                    <li><a href="#">De winkel</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="~/Afspraak/Index" class="btn btn-pink text-bold" role="button">Afspraak maken</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row welcome">
        <div class="row text-center text-white">
            <div class="col-md-12">
                <h1 class="imageback  fontsize-120  top-space-bruidswinkel">Afspraak maken</h1>
                <h3 class="imagefrontz fontsize-28">(door)Pasafspraak maken voor je jurk of pak</h3>
                <h2 class="text-uppercase text-white text-bold fontsize-32">Van begin tot eind kunnen wij je helpen</h2>
            </div>
        </div>

        


    </div>

    <div class="row panel-2 text-center">
        <div class="row welcome">
            <div class="col-md-12">
                <h1 class="imagebackmain fontsize-120  margin-0 top-space-backgroundtext">Voltooid!</h1>
                <h3 class="imagefrontz text-bold text-uppercase fontsize-32 margin-0 top-space-large">Je pasafspraak is gemaakt</h3>
                <h3 class="imagefrontz fontsize-20">Leuk! Je pasafspraak is gemaakt! Er is een bevestiging van je afspraak naar</h3>
                <h3 class="imagefrontz fontsize-20">je E-mail gestuurd! Maak ook meteen een afspraak voor je partner</h3>
            </div>
        </div>
    </div>
</div>


