@model ProjectBlokker.Models.Afspraak

@{
    ViewData["Title"] = "AfspraakGeslaagd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row panel-1">
    <div class="row menu">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header ">
                    <a class="navbar-brand" href="#">HONEYMOON SHOP</a>
                </div>
                <ul class="nav navbar-nav navbar-right text-uppercase">
                    <li class="active"><a href="/home/index">HOME</a></li>
                    <li><a href="#">Bruid</a></li>
                    <li><a href="/home/bruidegom">Bruidegom</a></li>
                    <li><a href="#">De winkel</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="Afspraak/Index" class="btn btn-pink text-bold" role="button">Afspraak maken</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h1>Afspraak Geslaagd</h1>
</div>



