@{
    ViewData["Title"] = "Home";
}

<div class="row panel-1">
    <div class="row menu">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header ">
                    <a class="navbar-brand" href="#">HONEYMOON SHOP</a>
                </div>
                <ul class="nav navbar-nav navbar-right text-uppercase">
                    <li class="active"><a href="#">HOME</a></li>
                    <li><a href="#">Bruid</a></li>
                    <li><a href="#">Bruidegom</a></li>
                    <li><a href="#">De winkel</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><button class="btn btn-pink text-bold afspraak text-uppercase">Afspraak maken</button></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row welcome top-space-large bottom-space">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="text-uppercase text-white text-bold fontsize-32">Maak je pasafspraak</h2>
            </div>
        </div>
    </div>
</div>

<div class="row panel-2 text-center afspraak-widget">
    <div class="col-md-2">
        Datum en tijd selecteren
    </div>
    <div class="col-md-5">
        Stap 1, datum en tijd selecteren
    </div>
    <div class="col-md-5">
        Selecteer een datum

        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="row panel-3 text-center">
    <div class="row">
        <div class="col-md-12">

           

        </div>
    </div>
</div>


