@model ProjectBlokker.Controllers.HomeController

@{
    ViewData["Title"] = "Bruidegom";
}
<div class="row panel-1">
    <div class="row menu">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">HONEYMOON SHOP</a>
                </div>
                <ul class="nav navbar-nav navbar-right text-uppercase">
                    <li class="#"><a href="/home/index">HOME</a></li>
                    <li class="#"><a href="#">Bruid</a></li>
                    <li class="active"><a href="/home/bruidegom">Bruidegom</a></li>
                    <li class="#"><a href="#">De winkel</a></li>
                    <li class="#"><a href="#">Blog</a></li>
                    <li class="#"><a href="#">Contact</a></li>
                    <li><a href="Afspraak/Index" class="btn btn-pink text-bold" role="button">Afspraak maken</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row welcome">
        <div class="row text-center text-white">
            <div class="col-md-12">
                <h3 class="fontsize-28">Opzoek naar het perfecte pak</h3>
            </div>
        </div>

        <div class="row text-center bottom-space">
            <div class="col-md-12">
                <h2 class="text-uppercase text-white text-bold fontsize-32">Van begin tot eind kunnen wij je helpen</h2>
            </div>
        </div>
    </div> 
</div>

<div class="row panel-2 text-center">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-bold text-uppercase fontsize-32 margin-0 top-space-large">Het pak voor je bruiloft</h3>
            <h3 class="text-bold text-uppercase fontsize-32 margin-0 bottom-space"></h3>
        </div>
    </div>
    <div class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#" data-slide-to="0" class="active"></li>
            <li data-target="#" data-slide-to="1"></li>
            <li data-target="#" data-slide-to="2"></li>
            </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://placekitten.com/650/400" alt=""class="img-responsive">
            </div>
            <div class="item">
                <img src="https://placekitten.com/650/400" alt="" class="img-responsive">
            </div>

            <div class="item">
                <img src="https://placekitten.com/650/400" alt="" class="img-responsive">
            </div>

            <div class="item">
            <img src="https://placekitten.com/650/400" alt="" class="img-responsive">
            </div>

        </div>
        <a class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control"  role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-dressfinder btn-blue text-uppercase">Naar de dressfinder</button>
        </div>
        
    </div>
    <div class="row text-blue text-center bottom-space-small">

    <i class="glyphicon glyphicon-triangle-bottom blue "></i>
</div> 
</div>
<div class="row panel-3 text-center">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-bold text-uppercase fontsize-32 margin-0 top-space-large">Wat komt erbij kijken?</h3>
            <h3 class="text-bold text-uppercase fontsize-32 margin-0 bottom-space"></h3>
        </div>
    </div>
    <div class="row bottom-space-small carousel slide" id="onestopshop-carousel" data-ride="carousel">
        <div class="col-md-8">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://placekitten.com/650/400" alt="" class="img-responsive" />
                    <div class="carousel-caption onestopshop-content">
                        <h3 class="text-uppercase text-bold"><span class="glyphicon glyphicon-play blue"></span> Bekijk video</h3>
                        <p class="onestopinfo text-left">
                            Hoe vind je de perfecte outfit?
                            Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="https://placekitten.com/650/400" alt="" class="img-responsive" />
                    <div class="carousel-caption onestopshop-content">
                        <h3 class="text-uppercase text-bold"><span class="glyphicon glyphicon-play blue"></span> Het perfecte pak vinden</h3>
                        <p class="onestopinfo text-left">
                            Hoe vind je de perfecte outfit?
                            Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.

                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="https://placekitten.com/650/400" alt="" class="img-responsive" />
                    <div class="carousel-caption onestopshop-content">
                        <h3 class="text-uppercase text-bold"><span class="glyphicon glyphicon-play blue"></span> Doorpassen en vermaken</h3>
                        <p class="onestopinfo text-left">
                            Hoe vind je de perfecte outfit?
                            Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.

                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="https://placekitten.com/650/400" alt="" class="img-responsive" />
                    <div class="carousel-caption onestopshop-content">
                        <h3 class="text-uppercase text-bold"><span class="glyphicon glyphicon-play blue"></span>De bruiloft</h3>
                        <p class="onestopinfo text-left">
                            Hoe vind je de perfecte outfit?
                            Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <ul class="list-group list-unstyled onestop-navigators carousel-indicators">
                <li class="list-item text-left active" data-target="#onestopshop-carousel" data-slide-to="0">
                    <a href="">
                        <i class="circle-blue">1</i> Afspraak maken
                    </a>
                </li>
                <li class="list-item text-left" data-target="#onestopshop-carousel" data-slide-to="1">
                    <a href="">
                        <i class="circle-blue"> 2 </i> Het perfecte pak vinden
                    </a>
                </li>
                <li class="list-item text-left" data-target="#onestopshop-carousel" data-slide-to="2">
                    <a href="">
                        <i class="circle-blue"> 3 </i> Doorpassen en vermaken
                    </a>
                </li>
                <li class="list-item text-left" data-target="#onestopshop-carousel" data-slide-to="3">
                    <a href="">
                        <i class="circle-blue"> 4 </i> De bruiloft
                    </a>
                </li>
            </ul>
        </div>
        

    </div>
    <div class="row text-blue text-center bottom-space-small">

    <i class="glyphicon glyphicon-triangle-bottom blue "></i>
    </div> 
</div>

<div class="row panel-4 text-center">
    <div class="row"></div>
    <div class="col-md-12">
        <h3 class="text-bold text-uppercase fontsize-32 margin-0 top-space-large">Tips & Tricks, Evenementen</h3>
        <h3 class="text-bold text-uppercase fontsize-32 margin-0 bottom-space">En meer inspiratie</h3>
    </div>
</div>