@{
    ViewData["Title"] = "Home";
}

<div class="row panel-1">
    <div class="row menu">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header col-lg-4 col-md-3 col-sm-12 col-xs-12">
                    <div class="imglogo">
                        <a class="navbar-brand " href="#">
                            <img src="~/images/HMSLogo.png" alt="HONEYMOON SHOP" class="img-responsive" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12" style="padding-top: 5px;">
                    <ul class="nav navbar-nav navbar-right text-uppercase">
                        <li class="active"><a href="/home/index">HOME</a></li>
                        <li><a href="~/home/bruid">Bruid</a></li>
                        <li><a href="~/home/bruidegom">Bruidegom</a></li>
                        <li><a href="#">De winkel</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="~/Afspraak/Index" class="btn btn-pink text-bold" role="button">Afspraak maken</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row welcome">
        <div class="row text-center text-white">
            <div class="col-md-12">
                <h1 class="imageback fontsize-120  top-space-bruidswinkel">Bruidswinkel</h1>
                <h3 class="fontsize-28">Al bijna 50 jaar de grootste bruidszaak van Nederland.</h3>
            </div>
        </div>

        <div class="row text-center bottom-space">
            <div class="col-md-12">
                <h2 class="text-uppercase text-white text-bold fontsize-32">Hoe kunnen we jou helpen?</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-large btn-pink text-uppercase">Bruid</button>
                <button class="btn btn-large btn-white text-uppercase">Bruidegom</button>
            </div>
        </div>
    </div>

    <div class="row text-white text-center bottom-space-small">
        <h4 class="small margin-0">Scroll</h4>
        <i class="glyphicon glyphicon-triangle-bottom fontsize-20"></i>
    </div>
</div>

<div class="row panel-2 text-center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="imagebackmain fontsize-100  margin-0 top-space-onestopshop">One stop shop</h1>
            <h3 class="imagefrontz text-bold text-uppercase fontsize-32 margin-0 top-space-large">Een jurk of pak kopen?</h3>
            <h3 class="imagefrontz text-bold text-uppercase fontsize-32 margin-0 bottom-space">Zo werkt het...</h3>
        </div>
    </div>
    <div class="row bottom-space-small carousel slide" id="onestopshop-carousel" data-ride="carousel">
        <div class="col-md-8">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://placekitten.com/650/400" alt="" class="img-responsive">
                    <div class="row carousel-caption onestopshop-content">
                        <div class="col-md-6">
                            <i class="circlecarousel circleincarousel"> 1 </i>
                        </div>
                        <div class="col-md-6">
                        <h3 class="text-uppercase text-bold text-gray"><i class="glyphicon glyphicon-play fontsize-20 text-pink"></i> Bekijk video</h3>
                        <p class="onestopinfo text-left">
                            Hoe vind je de perfecte outfit?
                            Onze specialisten nemen echt de tijd voor je en je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
                        </p>
                    </div>
                    </div>
                </div>

                <div class="item">
                    <img src="https://placekitten.com/650/400" alt="" class="img-responsive">
                    <div class="carousel-caption onestopshop-content">
                        <div class="col-md-6 ">
                            <i class="circlecarousel circleincarousel"> 2 </i>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-uppercase text-bold text-gray">Onze specialisten</h3>
                            <p class="onestopinfo text-left">
                                Hoe vind je de perfecte outfit?
                                Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
                            </p>
                            </div>
                        </div>
                </div>

                <div class="item">
                    <img src="https://placekitten.com/650/400" alt="" class="img-responsive">
                    <div class="carousel-caption onestopshop-content">
                        <div class="col-md-6">
                            <i class="circlecarousel circleincarousel"> 3 </i>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-uppercase text-bold text-gray">NaaiAtelier</h3>
                            <p class="onestopinfo text-left">
                                Hoe vind je de perfecte outfit?
                                Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
                            </p>
                            </div>
                        </div>
                </div>

                <div class="item">
                    <img src="https://placekitten.com/650/400" alt="" class="img-responsive">
                    <div class="carousel-caption onestopshop-content">
                        <div class="col-md-6">
                            <i class="circlecarousel circleincarousel"> 4 </i>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-uppercase text-bold text-gray">Servicepunten.</h3>
                            <p class="onestopinfo text-left">
                                Hoe vind je de perfecte outfit?
                                Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
                            </p>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <ul class="list-group list-unstyled onestop-navigators carousel-indicators">
                <li class="list-item text-left active" data-target="#onestopshop-carousel" data-slide-to="0">
                    <a href="">
                        <i class="circle"> 1 </i> De winkel
                    </a>
                </li>
                <li class="list-item text-left" data-target="#onestopshop-carousel" data-slide-to="1">
                    <a href="">
                        <i class="circle"> 2 </i> Onze specialisten
                    </a>
                </li>
                <li class="list-item text-left" data-target="#onestopshop-carousel" data-slide-to="2">
                    <a href="">
                        <i class="circle"> 3 </i> Naai-atelier
                    </a>
                </li>
                <li class="list-item text-left" data-target="#onestopshop-carousel" data-slide-to="3">
                    <a href="">
                        <i class="circle"> 4 </i> Servicepunten
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="row text-pink text-center bottom-space-small">
        <i class="glyphicon glyphicon-triangle-bottom fontsize-20"></i>
    </div>
</div>

<div class="row panel-3 text-center">
    <div class="row">
        <div class="col-md-12">
            <h1></h1>
            <h1 class="imagebackmain fontsize-100 margin-0 top-space-blog">Blog</h1>
            <h3 class="imagefrontz text-bold text-uppercase fontsize-32 margin-0 top-space-large">Blijf op de hoogte over</h3>
            <h3 class="imagefrontz text-bold text-uppercase fontsize-32 margin-0 bottom-space">De bruidswereld</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 headline-left bottom-space">
            <div class="headline-background" style="background-image:url('https://placekitten.com/700/400')">
               <div class="evenementblock">
                    <h3 class="text-uppercase headline-type">Evenement</h3>
                    <div class="headline-date"> <div class="day">30</div><div class="month">NOV</div></div>
                    <p>
                        Afgelopen weekend waren wij op de Love & Marriage beurs in Ahoy te Rotterdam.
                        Hier hebben wij de mooiste jurken uit de 2017 collectie geshowd.
                    </p>
                    <div class="top-space-small" >
                        <a href="" class="text-gray"><u>Lees meer</u></a> 
                        <img src="~/images/Arrow.png" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 headline-right bottom-space">
            <div class="headline-background" style="background-image:url('https://placekitten.com/700/405')">
                <div class="evenementblock">
                    <h3 class="text-uppercase headline-type">Evenement</h3>
                    <div class="headline-date"> <div class="day">30</div><div class="month">NOV</div></div>
                    <p>
                        Afgelopen weekend waren wij op de Love & Marriage beurs in Ahoy te Rotterdam.
                        Hier hebben wij de mooiste jurken uit de 2017 collectie geshowd.
                    </p>
                    <div class="top-space-small">
                        <a href="" class="text-gray"><u>Lees meer</u></a>
                        <img src="~/images/Arrow.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <img class="img-responsive" src="~/images/Ronaldo.PNG"/>
</div>



