@{
    ViewData["Title"] = "Home Page";
}


<div class="row panel-1">
    <div class="row menu">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header ">
                    <a class="navbar-brand" href="#">HONEYMOON SHOP</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">HOME</a></li>
                    <li><a href="#">BRUID</a></li>
                    <li><a href="#">BRUIDEGOM</a></li>
                    <li><a href="#">DE WINKEL</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><button class="btn btn-pink afspraak">AFSPRAAK MAKEN</button></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row text-center text-white">
        <div class="col-md-12"><h3>Al bijna 50 jaar de grootste bruidszaak van Nederland.</h3></div>
    </div>

    <div class="row text-center text-white">
        <div class="col-md-12"><h2>Hoe kunnen we jou helpen?</h2></div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-pink">BRUID</button>
            <button class="btn btn-pink">BRUIDGEOM</button>
        </div>
    </div>
</div>



