@{
    ViewData["Title"] = "CMS";
}

<div class="row panel-home-black">
    @Html.Partial("PartialLayout2")
</div>

<div class="bottom-space"></div>

<div class="row table-bordered">
    <div class="col-md-4">
        <div class="text-center text-bold"><h3>Afspraken</h3></div>
        <div class="bottom-space-small">
            <a href="~/afspraakoverview/index" class="btn btn-pink text-bold center-block" role="button"> Naar Afspraken </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center text-bold"><h3>DressFinder</h3></div>
        <div class="bottom-space-small">
            <a href="~/artikels/index" class="btn btn-pink text-bold center-block" role="button"> Naar Artikelen </a>
        </div>

        <div class="bottom-space-small">
            <a href="~/categories/index" class="btn btn-pink text-bold center-block" role="button"> Naar Categorieën </a>
        </div>

        <div class="bottom-space-small">
            <a href="~/jurks/index" class="btn btn-pink text-bold center-block" role="button"> Naar Jurken </a>
        </div>

        <div class="bottom-space-small">
            <a href="~/kleurs/index" class="btn btn-pink text-bold center-block" role="button"> Naar Kleuren </a>
        </div>
        <div class="bottom-space-small">
            <a href="~/merks/index" class="btn btn-pink text-bold center-block" role="button"> Naar Merken </a>
        </div>

        <div class="bottom-space-small">
            <a href="~/neklijns/index" class="btn btn-pink text-bold center-block" role="button"> Naar Neklijnen </a>
        </div>

        <div class="bottom-space-small">
            <a href="~/silhouettes/index" class="btn btn-pink text-bold center-block" role="button"> Naar Silhouettes </a>
        </div>

        <div class="bottom-space-small">
            <a href="~/stijls/index" class="btn btn-pink text-bold center-block" role="button"> Naar Stijlen </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center text-bold"><h3>Mijn Account</h3></div>
        <div class="bottom-space-small">
            <a href="~/manage/index" class="btn btn-pink text-bold center-block" role="button"> Naar Manage </a>
        </div>
    </div>
</div>
       

   
        