@{
    ViewData["Title"] = "CMS";
}

<div class="row panel-home-black">
    @Html.Partial("PartialLayout2")
</div>

<div class="bottom-space"></div>

<div class="row">
    <div class="">
        
        <div class="bottom-space-small">
            <a href="~/account/login" class="btn btn-pink btn-block text-bold btn-width-25" role="button"> Naar login </a>
        </div>
    </div>
</div>